<h1>Edit Discount</h1>

<%= render partial: 'discount_form', locals: { path: "/merchant/#{current_user.id}/discounts?merchant_id=#{current_user.merchant.id}", method: :post, button_text: "Update Discount" }  %>